* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #ff944d, #ff6600);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-container {
  background: white;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 1.5rem;
  color: #ff6600;
}


.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}


.btn {
  width: 100%;
  padding: 0.8rem;
  background: #ff6600;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #e65c00;
}

#message {
  margin-top: 1rem;
  font-size: 0.95rem;
}

